/* medium */
@font-face {
    font-family: 'Euclid Circular A';
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Euclid\ Circular\ A\ Medium.ttf");
}

/* regular */
@font-face {
    font-family: 'Euclid Circular A';
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Euclid\ Circular\ A\ Regular.ttf");
}

/* semibold */
@font-face {
    font-family: 'Euclid Circular A';
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/Euclid\ Circular\ A\ SemiBold.ttf");
}

/* bold */
@font-face {
    font-family: 'Euclid Circular A';
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Euclid\ Circular\ A\ Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Euclid Circular A", Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

li {
    list-style: none;
}

.full {
    max-width: 1920px;
    width: 100%;
    margin: 0px auto;
    /* outline: 2px solid blue; */
}

.center {
    max-width: 1560px;
    width: 100%;
    margin: 0px auto;
    outline: 2px solid red;
}

.header_bck {
    background-color: #F4F6F8;
    margin-bottom: 14px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 13px 0px 13px 29px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    box-sizing: border-box;
}

.header_address {
    display: flex;
    gap: 71px;
}

.header_links {
    display: flex;
    gap: 30px;
}

.header_logo_hidden {
    display: none;
}

.header_tel_hidden {
    display: none;
}

.map_address, .mail_address {
    color: #3B3C40;
    position: relative;
}

.map_address::before, .mail_address::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    left: -29px;
}

.map_address::before {
    background-image: url("../img/icon_location.svg");
}

.mail_address::before {
    background-image: url("../img/icon_mail.svg");
}

.header_links_name>a {
    color: #3B3C40;
}

.header_menu {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    position: relative;
}

.menu_burger_hidden {
    display: none;
}

.main_logo_wrp {
    margin-right: 34px;
}

.header_catalog_btn {
    max-width: 159px;
    width: 100%;
    max-height: 60px;
    height: 100%;
    border-radius: 15px;
    background-color: #E50E78;
    position: relative;
    margin-right: 25px;
}

.header_catalog_btn::before {
    content: "Каталог";
    position: absolute;
    color: white;
    top: 29%;
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    left: 20px;
}

.catalog_link {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    justify-content: flex-end;
}

.catalog_link_icon_wrp {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    max-width: 50px;
    min-height: 50px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.catalog_link_icon {}

.header_search_wrp {
    display: flex;
    padding: 5px 5px 5px 3px;
    justify-content: space-between;
    align-items: center;
    max-width: 915px;
    height: 60px;
    width: 100%;
    border-radius: 15px;
    border: 1px solid #E50E78;
    box-sizing: border-box;
    position: relative;
    margin-right: 40.5px;
}

.header_search_wrp:focus {
    border: 2px solid #E50E78;
}

.header_search {
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    width: 94%;
    min-height: 50px;
    padding-left: 25px;
    border: transparent;
}

.header_search[type=search] {
    color: #3B3C40;
    font-weight: 500;
    line-height: 140%;
}

.header_search[type="search"]:focus {
    outline: none;
}

.header_search[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: url("../img/icon_close.svg");
    cursor: pointer;
}

.search_icon {
    position: absolute;
    right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: #E50E78;
    border: none;
}

.user_btn_container {
    display: flex;
    gap: 30px;
}

.user_btn {
    position: relative;
}

.user_btn_icon_heart::after, .user_btn_icon_cart::after {
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background-color: #E50E78;
}

.user_btn_icon_heart::after {
    content: "7";
    top: 1px;
    right: 22px;
}

.user_btn_icon_cart::after {
    content: "4";
    top: 1px;
    right: 10px;
}

.user_btn>button {
    background-color: transparent;
    border: none;
}

.user_btn>button>p {
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    color: #3B3C40;
}

.header_btn_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 92px;
}

.btn_nav_container {
    display: flex;
    gap: 15px;
    align-items: center;
}

.btn_nav_item {
    padding: 0px 24px;
    box-sizing: border-box;
    background-color: #F4F6F8;
    border-radius: 15px;
}

.btn_nav_item_link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn_nav_item>a {
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    color: #3B3C40;
    min-height: 50px;
}

.header_tel {
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    color: white;
    position: relative;
    border-radius: 15px;
    background: #E50E78;
    box-shadow: 10px 15px 50px 0px rgba(173, 178, 201, 0.20);
    padding: 13px 24px;
    max-width: 221px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    box-sizing: border-box;
}

.header_tel::before {
    content: "";
    /* position: absolute; */
    background-image: url("../img/tel_icon.png");
    width: 24px;
    height: 24px;
}

.swiper {
    width: 100%;
    border-radius: 50px;
    background: #F3EFFF;
    margin-bottom: 80px;
}

.swiper-slide {
    display: flex;
    gap: 20px;
}

.swiper-wrapper {
    padding: 40px;
    max-width: 1560px;
    box-sizing: border-box;
}

.swiper_slide_first {
    border-radius: 30px;
    background: linear-gradient(145deg, #7D68FB 33.75%, #AFA2FB 80.01%);
    max-width: 690px !important;
    width: 100% !important;
    display: flex;
    padding: 40px 47px 40px 50px;
    box-sizing: border-box;
    justify-content: space-between;
    min-height: 422px;
    display: flex;
    align-items: center;
    position: relative;
}

.first_slider_discount {
    color: #FFF;
    font-size: 100px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    position: relative;
    margin-left: 62px;
}

.before_discount {
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    position: absolute;
    top: 17%;
    left: -18%;
}

.before_discount::before {
    content: "";
    width: 45px;
    height: 10px;
    background-color: white;
    top: 46px;
    position: inherit;
}

.after_disount {
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    height: 64px;
    position: absolute;
    top: 8%;
    left: 120px;
}

.first_slide_discount_txt {
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}

.first_slide_img {
    position: relative;
    z-index: 1;
    max-width: 233px;
    max-height: 272px;
    height: 100%;
}

.first_slide_wrp {
    position: relative;
}

.first_slide_wrp::after {
    content: "";
    top: -46px;
    right: -19px;
    z-index: 0;
    position: absolute;
    width: 293px;
    height: 387px;
    border-radius: 428px;
    background: #F99CDA;
    filter: blur(42px);
    background-size: cover;
}

.slider_vector_icon {
    background-image: url("../img/vector_icon.svg");
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #3B3C40;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: 10px solid #F3EFFF;
}

.small_slide_2, .small_slide_3 {
    max-width: 375px;
    width: 100%;
    background-color: #FFF;
    border-radius: 30px;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.slider_img_wrp {
    max-width: 325px;
    width: 100%;
    min-height: 214px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 30px;
    border: 2px solid #F4F6F8;
    margin-bottom: 20px;
}

.slider_img_wrp::before {
    content: "-25%";
    position: absolute;
    left: 15px;
    top: 15px;
    display: inline-flex;
    padding: 6px 14px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #E50E78;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
}

.slider_img_wrp>img {
    /* height: 100%; */
}

.small_slide_mian_txt {
    overflow: hidden;
    color: #3B3C40;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 10px;
    width: 100%;
}

.small_slide_value {
    overflow: hidden;
    color: #9293B0;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 25px;
}

.small_slide_price {
    color: #3B3C40;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}

.small_slide_old_price {
    margin-left: 10px;
    color: #9293B0;
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    position: relative;
}

.small_slide_old_price::after {
    content: "";
    width: 55.731px;
    height: 1px;
    transform: rotate(-3.086deg);
    position: absolute;
    top: 10px;
    left: 0px;
    background-color: #9293B0;
}

.slider_cart_icon {
    background-image: url("../img/cart_icon_white.png");
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #E50E78;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border: 10px solid #F3EFFF;
    transition: background 0.2s ease;
}

.slider_cart_icon:hover {
    background-color: #a00c56;
}

.slider_cart_icon:active {
    background-color: black;
}

.swiper-button-prev, .swiper-button-next {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 3px 6px 14px rgba(115, 103, 151, 0.15);
    background-image: url("../img/prevnext_icon.svg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.swiper-button-prev {
    transform: rotate(180deg);
}

.swiper-button-prev::after, .swiper-button-next::after {
    content: "";
}

.slogan {
    margin-bottom: 152px;
}

.slogan_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.slogan_item {
    max-width: 507px;
    width: 100%;
    height: 196px;
    border-radius: 20px;
    background: #F3EFFF;
    /* box-shadow: 5px 15px 70px 0px rgba(173, 178, 201, 0.25); */
    overflow: hidden;
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    box-sizing: border-box;
}

.slogan_item_ellipse {
    border-radius: 398px;
    background: linear-gradient(171deg, rgba(255, 255, 255, 0.58) 4.95%, rgba(255, 255, 255, 0.00) 95.57%);
    box-shadow: 1.898px -2.214px 3.479px 0px #FFF inset, -3.163px 8.539px 6.641px 0px rgba(0, 0, 0, 0.49) inset;
    backdrop-filter: blur(3.0043752193450928px);
    width: 398px;
    height: 398px;
    flex-shrink: 0;
    position: absolute;
    right: -51px;
    top: -95px;
    z-index: -1;
}

.slogan_item_ellipse::before {
    content: "";
    background-image: url("../img/Blend\ Group\ 4.png");
    position: inherit;
    max-width: 413px;
    width: 100%;
    max-height: 223px;
    height: 100%;
    top: 33px;
    opacity: 50%;
}

.slogan_item_ellipse_txt {
    max-width: 299px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.slogan_item_ellipse_title {
    color: #3B3C40;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}

.slogan_item_ellipse_subtitle {
    color: #9293B0;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
}

.category {
    overflow: hidden;
}

.category_title, .sale_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.category_title_txt, .sale_title_txt {
    color: #3B3C40;
    font-size: 50px;
    font-weight: 500;
    line-height: normal;
}

.all_category, .all_sales {
    max-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px 5px 30px;
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    background: var(--button-gradient, linear-gradient(96deg, #DD3197 0%, #822FAF 101.4%));
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    gap: 25px;
}

.all_category_icon, .all_sales_icon, .form_button_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 13px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    border: none;
}

.swiper_container {
    overflow: auto;
    margin-bottom: 30px;
    overflow-y: hidden;
}

.swiper_container::-webkit-scrollbar {
    height: 15px;
}

.swiper_container::-webkit-scrollbar-thumb {
    background-color: #F4F6F8;
    margin-top: 2px;
    /* border: 2px solid #F4F6F8; */
}


.swiper_container::after {
    /* content: ""; */
    position: absolute;
    top: 0px;
    right: -1px;
    width: 41px;
    height: 50px;
    transform: rotate(180deg);
    background: linear-gradient(90deg, #FFF 36.76%, rgba(255, 255, 255, 0.00) 99.93%);
}

.swiper_wrapper {
    display: flex;
    transition: transform 0.2s ease;
    gap: 10px;
    margin-bottom: 10px;
}

.swiper_slide {
    /* flex: 0 0 14%; */
    /* Каждый слайд занимает 14% ширины контейнера */
    /* margin-right: 10px; */
    /* Добавляем отступ между слайдами */
    /* box-sizing: border-box; */
    max-height: 50px;
}

.swiper_link {
    display: flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 15px;
    background: #F4F6F8;
    color: #3B3C40;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    text-align: center;
    box-sizing: border-box;
    white-space: nowrap
}

.swiper_slide:nth-child(2) a {
    background-color: #E50E78;
    color: white;
}

.slider_container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 152px;
}

.category_slider, .other_slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(8px);

}

.category_slide_item {
    flex: 0 0 calc(100%/4);
    /* Каждый слайд занимает 25% ширины контейнера */
    box-sizing: border-box;
    position: relative;
}

.category_slide_item>article {
    box-shadow: 0px 15px 22px -5px rgba(34, 60, 80, 0.2);
}

.category_slide_item_link {
    position: absolute;
    bottom: 15px;
    left: 15px;
    max-width: 345px;
    width: 100%;
    min-height: 72px;
    z-index: 1;
    border-radius: 20px;
    border: 1px solid var(--white, #FFF);
    background: rgba(244, 246, 248, 0.50);
    backdrop-filter: blur(6px);
    padding: 12px 0px 12px 20px;
    box-sizing: border-box;
    color: #3B3C40;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    display: block;
}

.category_slide_item_link::after {
    content: "";
    position: inherit;
    background-image: url("../img/vector_icon_black.svg");
    width: 24px;
    height: 24px;
    right: 17px;
    top: 24px;
}

.category_count {
    position: absolute;
    color: #7b7b7c;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    bottom: 9px;
    left: 19px;
    z-index: 1;
}

.slider_container {
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.prev_button,
.next_button,
.other_prev_button,
.other_next_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.prev_button, .other_prev_button {
    left: 10px;
}

.next_button, .other_next_button {
    right: 10px;
}

.prev_button, .next_button, .other_prev_button,
.other_next_button {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 3px 6px 14px rgba(115, 103, 151, 0.15);
    background-image: url("../img/prevnext_icon.svg");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.prev_button, .other_prev_button {
    transform: rotate(180deg);
}

.form {
    margin: 0 auto;
}

.form_container {
    border-radius: 50px;
    background: var(--purple-light, #F3EFFF);
    margin-bottom: 152px;
    max-height: 497px;
    height: 100%;
    display: flex;

}

.form_img_wrp {
    border-radius: 40px;
    background: linear-gradient(303deg, rgba(255, 255, 255, 0.27) 26.33%, #FDFCFF 39.99%);
    width: 50%;
}

.form_img {
    max-width: 650px;
    width: 100%;
    border-radius: 50px;
    box-shadow: 33px 1px 38px -28px rgba(126, 117, 178, 0.25);

}

.form_title {
    color: #3B3C40;
    font-size: 50px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 62px;
}

.form_subtitle {
    color: #9293B0;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 40px;
}

#myForm {
    max-width: 513px;
    max-height: 60px;
    height: 100%;
}

.input_container {
    position: relative;
    display: flex;
    /* padding: 18px 18px 18px 25px; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    box-sizing: border-box;

}

.form_input_name, .form_input_tel {
    position: relative;
}

.form_input_name {
    margin-bottom: 20px;
}

.form_input_tel {
    margin-bottom: 30px;
}

.form_input_name::before, .form_input_tel::before {
    content: "";
    left: 25px;
    top: 50%;
    position: absolute;
    width: 24px;
    height: 24px;
    transform: translate(0%, -50%);
}

.form_input_name::before {
    background-image: url("../img/user_icon.png");
}

.form_input_tel::before {
    background-image: url("../img/tel_icon_black.png");
}

.form_input {
    padding: 8px 8px 8px 55px;
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    border-radius: 15px;
    border: 1px solid #E50E78;
}

.form_icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
}

.form_treaty_btn_wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.form_treaty, .form_treaty a {
    color: #9293B0;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
}

.form_treaty {
    max-width: 267px;
}

.form_treaty a {
    text-decoration-line: underline;
}

.form_button {
    max-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px 5px 30px;
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    background: var(--button-gradient, linear-gradient(96deg, #DD3197 0%, #822FAF 101.4%));
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    gap: 25px;
}

.form_button:hover {
    background-color: #45a049;
}



.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
}

.modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    max-width: 1224px;
    width: 100%;
    max-height: 385px;
    height: 100%;
    border-radius: 30px;
    background: #F3EFFF;
}

.modal_svg_bcg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.close {
    position: absolute;
    right: 20px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}

.modal_txt_wrp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    height: 100%;

}

.modal_title {
    color: #3B3C40;
    font-size: 50px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.modal_subtitle {
    color: #9293B0;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
}

.error_message {
    color: red;
    display: none;
    margin-top: 5px;
    position: absolute;
    top: 55px;
}

.error {
    border: 3px solid red !important;
}

.footer {
    margin-bottom: 50px;
}

.footer_container {
    /* height: 100%; */
    padding: 60px 60px 0px 60px;
    box-sizing: border-box;
    border-radius: 50px;
    background: #F4F6F8;
    min-height: 560px;
}

.main_logo_wrp_hidden {
    display: none;
}

.footer_container_list {
    display: flex;
    max-height: 427px;


    justify-content: space-between;

}

.footer_logo {
    margin: 22px 0px 168px 25px;
}

.footer_grade_wrp {
    display: flex;
    gap: 16px;
}

.footer_grade {
    color: #3B3C40;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 30px;
}

.footer_btn_to_director {
    display: flex;
    width: 211px;
    height: 50px;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid #9293B0;
    box-shadow: 10px 15px 50px 0px rgba(173, 178, 201, 0.20);
    color: #3B3C40;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    white-space: nowrap
}

.footer_column_title {
    color: #3B3C40;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
}

.footer_column a {
    color: #9293B0;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
}

.footer_tel_subtitle {
    color: #9293B0;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    margin-top: 15px;
    margin-bottom: 30px;
}

.footer_column_em {
    margin-bottom: 30px;
}

.footer_em_title {
    margin-bottom: 15px;
}

.footer_em::before {
    content: "";
    background-image: url();
}

.footer_link {
    display: flex;
    gap: 15px;
}

.footer_link_item_vk, .footer_link_item_youtube, .footer_link {
    width: 30px;
    height: 30px;
    margin-bottom: 127px;
}

.footer_column_about {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.footer_column_about_wrp {
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.footer_column_catalog {
    display: flex;
    flex-direction: column;
    gap: 15px;

    margin-bottom: 50px;
}

.footer_column_catalog_wrp {
    column-count: 2;
    column-gap: 30px;
    max-height: 343px;
}

.footer_column_catalog_link_wrp {
    max-width: 309px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 12px;
}

.footer_column_catalog_link_wrp:nth-child(-n+9) {
    max-width: 271px;
}

.footer_line {
    width: 1440px;
    height: 1px;
    background: #D9D9D9;
    margin-bottom: 25px;
}

.footer_underline_txt {
    color: #9293B0;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 25px;
}

#cart {
    display: none;
}

.product-image {
    float: left;
}

.product-details {
    float: left;
    max-width: 405px;

}

.product_details_list {
    display: flex;
    justify-content: space-between;
}

.product_details_item {
    color: #3B3C40;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
}

.product_details_color_o, .product_details_color_f {
    position: relative;
}

.product_details_color_o::before, .product_details_color_f::before {
    position: absolute;
    content: "";
    left: -25px;
    top: 0px;
    width: 20px;
    height: 20px;
    border-radius: 30px;
}

.product_details_color_o::before {
    background-color: #ED9039;
}

.product_details_color_f::before {
    background-color: #B5AFDE;
}

.product-price {
    display: none;
}

.product-quantity {
    position: relative;
}

.product-quantity::after {
    content: "шт";
    position: absolute;
    top: 0px;
    left: 16px;

}

.product-removal {
    float: left;
    display: flex;
    align-items: center;
}

.product-line-price-wrp {
    float: left;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 38px;
    align-items: flex-end;
}

.product-line-price {
    position: relative;
    color: #3B3C40;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
}

.product-line-price::after {
    position: absolute;
    content: "3850 ₽";
    text-decoration: line-through;
    top: 20px;
    left: 10px;
    color: #9293B0;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
}

.group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before, .group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
    content: '';
    display: table;
}

.group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
    clear: both;
}

.group, .shopping-cart, .column-labels, .product, .totals-item {
    zoom: 1;
}

label {
    color: #aaa;
}

.shopping-cart {
    position: absolute;
    background-color: white;
    z-index: 2;
    right: 0px;
    top: 185px;
    max-width: 786px;
    max-height: 774px;
    padding: 30px 20px 30px 30px;
    box-sizing: border-box;
    border-radius: 30px;
}

.cart_title {
    color: #3B3C40;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 25px;
    position: relative;

}

.cart_underline {
    display: block;
    height: 1px;
    background-color: #eee;
    margin-bottom: 20px;
}

.cart_title::after {
    content: "6";
    position: absolute;
    color: #9293B0;
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    top: 6px;
    left: 109px;
}

.column-labels label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.product_container {}

.product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product .product-image {
    text-align: center;
}

.product .product-image img {
    width: 100px;
    margin: 25px 16px 20.5px 15px;
}

.product-image {

    border-radius: 20px;
    border: 2px solid #F4F6F8;
    background: #FFF;
}

.product .product-details .product-title {
    margin-right: 20px;
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
}

.product .product-details .product-description {
    line-height: 1.4em;
    overflow: hidden;
    color: #3B3C40;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 15px;
}

.product .product-quantity input {
    width: 50px;
    border: none;
    padding-left: 5px;
}

.product .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: transparent;
    color: #fff;
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
    font-size: 12px;
    border-radius: 3px;
}

.product .remove-product:hover {
    background-color: #a44;
}

.totals {
    margin-top: 234px;
}

.totals .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px
}

.totals .totals-item label {
    float: left;
    clear: both;
    text-align: right;
    color: #9293B0;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
}

.totals .totals-item .totals-value {
    float: right;
    text-align: right;
    color: var(--black, #3B3C40);
    text-align: right;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}

.cart_button_list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.cart_button_style_fast, .cart_button_style_move {
    display: flex;
    width: 353px;
    height: 60px;
    padding: 5px 5px 5px 30px;
    justify-content: flex-end;
    align-items: center;
    gap: 66px;
    flex-shrink: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
}

.cart_button_style_move {
    border-radius: 15px;
    border: 2px solid var(--button-gradient, #DD3197);
    background: #FFF;
    background: var(--button-gradient, linear-gradient(96deg, #DD3197 0%, #822FAF 101.4%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cart_button_style_fast>img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 13px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    border: none;
}

.cart_button_style_move>svg {
    border-radius: 10px;
    background: var(--button-gradient, linear-gradient(96deg, #DD3197 0%, #822FAF 101.4%));
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 13px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    border: none;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.menu, .overlay{
    display: none;
}

@media (max-width: 375px) {

    .center {
        max-width: 375px;
    }

    .header_links {
        display: none;
    }

    .header_bck {
        background-color: white;
        margin-bottom: 0px
    }

    .navigation {
        padding: 10px;
    }

    .header_address {
        align-items: center;
        width: 100%;
        justify-content: space-between;
        height: 41px;
    }

    .map_address {
        font-size: 0px;
    }

    .header_address_mail {
        display: none;
    }

    .map_address::before, .mail_address::before {
        left: 0px;
    }

    .header_logo_hidden {
        display: flex;
        align-items: center;
    }

    .header_logo_hidden img {
        width: 41px;
        height: 41px;
    }

    .header_tel_hidden {
        display: block;
        font-size: 0px;
        position: relative;
        width: 24px;
        height: 24px;
    }

    .header_tel_hidden::before {
        position: absolute;
        content: "";
        width: 24px;
        height: 24px;
        left: 0px;
        z-index: 1;
        background-image: url("../img/tel_icon_black.png");
    }

    .header_menu {
        padding: 0px 10px;
        box-sizing: border-box;
        max-height: 42px;
        height: 100%;
    }

    .menu_burger_hidden {
        display: flex;
        max-width: 42px;
        width: 100%;
        height: 42px;
        background-color: #E50E78;
        border-radius: 10px;
        box-shadow: 5px 15px 70px 0px rgba(173, 178, 201, 0.35);
        margin-right: 8px;
        padding: 13.5px 11px;
        box-sizing: border-box;
        /* background-color: transparent; */
        border: none;

    }

    .menu_burger_hidden button {}

    .main_logo_wrp, .header_catalog_btn, .user_btn_container {
        display: none;
    }

    .header_search_wrp {
        margin-right: 0px;
        max-height: 42px;
        height: 100%;
        border-radius: 10px;
    }

    .header_search {
        min-height: 30px;
    }

    .search_icon {
        width: 36px;
        height: 36px;
        padding: 8px;
        box-sizing: border-box;
    }

    .header_btn_nav {
        margin-bottom: 46px;
        max-height: 37px;
        overflow: auto;
        overflow-y: hidden;
    }

    .btn_nav_container {
        max-height: 37px;

    }

    .btn_nav_item {
        border-radius: 10px;

    }

    .btn_nav_item>a {
        min-height: 37px;
        font-size: 15px;
        font-weight: 500;
        line-height: 140%;
        box-sizing: border-box;
        white-space: nowrap;
    }

    .header_tel {
        color: white;
        margin-left: 12px;
        font-size: 15px;
        font-weight: 500;
        line-height: 140%;
        white-space: nowrap;
    }

    .swiper {
        border-radius: 20px;
        background: #F3EFFF;
        margin-bottom: 30px;
    }

    .swiper-wrapper {
        padding: 10px;
    }

    .swiper-slide {
        flex-wrap: wrap;
        gap: 9px;
    }

    .swiper_slide_first {
        max-width: 355px !important;
        padding: 43px 19px 22px 20px;
        min-height: 295px;
        overflow: hidden;
        border-radius: 20px;
        background: linear-gradient(145deg, #7D68FB 33.75%, #AFA2FB 80.01%);
        align-items: start;
    }

    .first_slider_discount {
        font-size: 70px;
        font-weight: 700;
        margin-left: 35px;
        margin-top: 49px;
        position: relative;
        z-index: 1;
    }

    .before_discount {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        left: -40%;
    }

    .before_discount::before {
        width: 30px;
        height: 5px;
        top: 30px;
    }

    .after_disount {
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        left: 85px;
    }

    .first_slide_discount_txt {
        font-size: 18px;
        font-weight: 600;
        position: absolute;
        max-width: 244px;
        bottom: 22px;
        z-index: 1;
    }

    .first_slide_wrp {
        max-width: 142px;
        width: 100%;
        max-height: 165px;
        height: 100%;
    }

    .first_slide_wrp::after {
        width: 259.495px;
        height: 294px;
        background: #F99CDA;
        filter: blur(82.485153px);
        bottom: 147px;
        right: -62px;
    }

    .first_slide_img {
        /* width: 100%; */
    }

    .slider_vector_icon {
        width: 40px;
        height: 40px;
        background-image: url("../img/vector_icon_mini.svg");
        border: 6px solid #F3EFFF;
    }

    .small_slide_2, .small_slide_3 {
        max-width: 173px;
        max-height: 262px;
        padding: 10px;
        padding-bottom: 8px;
    }

    .slider_img_wrp {
        min-height: 130px;
        margin-bottom: 8px;
    }

    .slider_img_wrp::before {
        content: "Новинка";
        padding: 1px 8px;
        gap: 10px;
        border-radius: 20px;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        top: 6px;
        left: 13px;
    }

    .slider_img_wrp img {
        max-width: 74px;
        max-height: 86px;
    }

    .small_slide_mian_txt {
        margin-bottom: 4px;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
    }

    .small_slide_value {
        margin-bottom: 8px;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
    }

    .small_slide_price {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        max-width: 70px;
        line-height: 100%;
    }

    .small_slide_old_price {
        margin-left: 0px;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
    }

    .slider_cart_icon {
        width: 40px;
        height: 40px;
        background-image: url("../img/cart_icon_mini.png");
        border: 6px solid #F3EFFF;
    }

    .swiper-button-prev, .swiper-button-next {
        display: none;
    }

    .slogan_list {
        gap: 16.5px;
    }

    .slogan_item {
        margin: 0 10px;
        max-height: 136px;
        padding-left: 9px;
    }

    .slogan_item img {
        max-width: 86px;
        max-height: 86px;
    }

    .slogan_item_ellipse {
        width: 278px;
        height: 277px;
        top: -77px;

        right: -26px;
    }

    .slogan_item_ellipse::before {
        width: 289.204px;
        height: 155.704px;
        background-image: url("../img/Blend\ Group\ mini.png");
        top: 44px;
        right: -34px
    }

    .slogan_item_ellipse_txt {
        gap: 8px;
        max-width: 277px;
        margin-left: 28px;
    }

    .slogan_item_ellipse_title {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
    }

    .slogan_item_ellipse_subtitle {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
    }

    .category_title_txt {
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
    }

    .swiper_container::after {
        background: none;
    }

    .category_slide_item {
        max-width: 173px;
        max-height: 260px;
    }

    .category_slide_item {
        flex: 0 0 calc(100% / 2);
        /* Two slides in a row for small screens */
    }

    .form_container {
        max-width: 355px;
        height: 481px;
        padding: 50px 20px 49px 20px;
        box-sizing: border-box;
        border-radius: 20px;
    }

    .form_img_wrp {
        display: none;
    }

    .form_title {
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        margin-top: 0px;
    }

    .form_subtitle {
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        margin-bottom: 42px;
    }

    .form_input {
        max-height: 42px;
        border-radius: 10px;
    }

    .form_input_name {
        margin-bottom: 10px;

    }

    .form_treaty_btn_wrp {
        flex-direction: column-reverse;
        gap: 20px;
        align-items: flex-start;
    }

    .error_message {
        top: 32px;
    }

    .form_button, .all_sales {
        max-height: 42px;
        border-radius: 10px;
    }

    .form_button_icon, .all_sales_icon {
        width: 36px;
        height: 36px;
        /* border-radius: 10px; */
        background-image: url("../img/arrow-right-mini.svg");
        background-repeat: no-repeat;
        padding: 8px;
        box-sizing: border-box;
        background-position: center center;
    }

    .all_category_hidden {
        display: none;
    }

    .all_category_icon {
        width: 36px;
        height: 36px;
        padding: 8px;
    }

    .form_treaty {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
    }

    .modal {
        padding: 10px;
        box-sizing: border-box;
    }

    .modal_content {
        width: 355px;
        height: 248px;
        padding: 20px 10px 10px;
        box-sizing: border-box;
        border-radius: 14.695px;
    }

    .modal_svg_bcg {
        width: 306px;
        height: 128px;
    }

    .close svg, .close {
        width: 24px;
        height: 24px;
        right: 10px;
    }

    .modal_txt_wrp {
        gap: 24px;
    }

    .modal_title {
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
    }

    .modal_subtitle {
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
    }

    .footer_container {
        padding: 29px 20px 0px 10px;
        border-radius: 0px;
    }

    .footer_column_catalog {
        display: none;
    }

    .footer_column_about_wrp {
        display: flex;
        gap: 12px;
        flex-direction: column;
        height: 308px;
    }

    .footer_column_em {
        margin-bottom: 24px;
    }

    .footer_column_tel_em_link {
        order: 2;
        height: 244px;
    }

    .footer_column_about {
        order: 1;
    }

    .footer_column_title, .footer_tel_title, .footer_em_title {
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
    }

    .footer_em_title {
        margin-bottom: 12px;
    }

    .footer_about_link, .footer_tel_subtitle, .footer_em {
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
    }

    .footer_tel_subtitle {
        margin-top: 12px;
        margin-bottom: 24px;
    }

    .footer_column_logo {
        order: 3;
    }

    .footer_container_list {
        display: flex;
        max-height: 427px;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        column-gap: 50px;
        gap: 50px;
    }

    .footer_column_about {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .footer_link_item_vk, .footer_link_item_youtube, .footer_link {
        width: 30px;
        height: 30px;
        margin-bottom: 25px;
    }

    .footer_pay_system {
        margin-bottom: 36px;
        height: 16px;
    }

    .footer_grade_wrp {
        margin-top: -28px;
    }

    .footer_grade {
        margin-bottom: 24px;
    }

    .footer_btn_to_director {
        width: 173px;
        height: 42px;
        border-radius: 10px;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
    }

    .footer_line {
        max-width: 355px;
        margin-top: 32px;
        margin-bottom: 26px;
    }

    .footer_underline_txt {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        max-width: 303px;
        text-align: center;
        margin: 0px auto;
    }

    .main_logo_wrp_hidden {
        display: block;
        padding: 0px 10px 40px;
    }

    .main_logo_wrp_hidden img {
        width: 41px;
        height: 41px;
    }
    
    .overlay{
        display: block;
    }
    
    .menu {
        display: block;
        position: fixed;
        top: 0;
        left: -295px;
        width: 295px;
        height: 100%;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: left 0.3s ease-in-out;
        z-index: 2;
        overflow-y: auto;
        /* z-index: 6; */
        padding: 30px 10px 20px;
        box-sizing: border-box;
        border-radius: 0px 20px 20px 0px;
    }

    .menu_account_link {
        display: flex;
        flex-direction: column;
        gap: 21px;
    }

    .menu_account_link a{
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .menu_account_link a, .contact-btn, .menu_nav a {
        color: #3B3C40;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
    }

    .menu a:hover {
        background-color: #f9f9f9;
    }

    .divider {
        height: 1px;
        background-color: #eee;
        margin: 25px 0;
    }

    .menu_btn_list{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .contact-btn{
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: transparent;
        border: none;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 2;
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        background: none;
        border: none;
        cursor: pointer;
        color: #333;
    }

    .menu_nav{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}